{% extends "base.html" %}

{% block content %}
    <main>
      <h1>Manage Foods</h1>

      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Calories</th>
            <th>Carbs</th>
            <th>Fat</th>
            <th>Protein</th>
          </tr>
        </thead>

        <tbody>
          {% for food in foods %}
            <tr>
              <td>{{ food.name }}</td>
              <td>{{ food.calories }}</td>
              <td>{{ food.carbs }}</td>
              <td>{{ food.fat }}</td>
              <td>{{ food.protein }}</td>
            </tr>
          {% else %}
            <tr>
              <td colspan="5">No foods yet.</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>

      <p>
        <a href="{{ url_for('main_bp.index') }}">Back to home</a>
      </p>
    </main>
{% endblock %}
